$black-light: #4D4D4D;
$black-dark: #333333;
$orange-light: #DC755E;
$orange-dark: #D5573B;
$white-light: #F8F9F9;
$white-dark: #DFE5E1;
$grey-light: #CBD1CD;
$grey-dark: #B7BCB9;

.picker {
  width: 200px;
  box-sizing: border-box;

  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;

  background-image: url("../media/icons/calendar.svg") !important;
  padding-left: 15px;

  &:focus {
    border: 1px solid $black-dark;
  }
}
