$black-light: #4D4D4D;
$black-dark: #333333;
$orange-light: #DC755E;
$orange-dark: #D5573B;
$white-light: #F8F9F9;
$white-dark: #DFE5E1;
$grey-light: #CBD1CD;
$grey-dark: #B7BCB9;

@keyframes rotate-animation {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(180deg);
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: $black-light;
  margin: 0;
  padding: 0;
  overflow-X: hidden;
}

p {
  font-family: "Droid Sans", sans-serif;
  margin: 0 auto;
}

:focus {
  outline-color: $black-light;
  outline-offset: 1px;
}

::selection {
  color: $white-light;
  background-color: $black-dark;
}

.visible-xs {
  @media (min-width: 768px) {
    display: none;
  }
}

.hidden-xs {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.relative {
  position: relative;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.background {
  width: 100vw;
  min-height: 100vh;

  background-image: url("../media/subtle_dots.png");
}

.navigation {
  width: 100%;
  height: 80px;

  position: fixed;

  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style-type: none;

  margin: 0;
  padding: 0;
  background-image: url("../media/subtle_dots.png");
  background-color: transparent;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 90px;
    height: 100vh;
    top: 0;
    bottom: 0;
    flex-direction: column;
    transform: none;
  }

  &.left {
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $black-light;

    @media (min-width: 768px) {
      right: unset;
      bottom: 0;
      border-bottom: none;
      border-right: 1px solid $black-light;
    }

    li {
      &:hover .nav-label {
        @media (min-width: 768px) {
          right: -180px;
        }
      }

      .nav-label {
        top: 80px;
        left: 0;

        @media (min-width: 768px) {
          top: 0;
          left: unset;
          right: 0;
        }
      }
    }
  }

  &.right {
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $black-light;

    @media (min-width: 768px) {
      top: 0;
      left: unset;
      border-top: none;
      border-left: 1px solid $black-light;
    }

    li {
      &:hover .nav-label {
        @media (min-width: 768px) {
          left: -180px
        }
      }

      .nav-label {
        top: -50px;
        left: 0;

        @media (min-width: 768px) {
          top: 0;
        }
      }
    }
  }

  li {
    width: 50px;
    height: 50px;

    padding: 15px;

    transition: background-color 0.3s ease-in;
    cursor: pointer;

    @media (min-width: 768px) {
      position: relative;
      padding: 20px;

      &:first-of-type {
        margin-top: 90px;
      }

      &:last-of-type {
        margin-bottom: 90px;
      }
    }

    &.active {
      background-color: $black-dark;
      transition: background-color 0.3s ease-out;
    }

    &.disabled {
      opacity: 0.75;
      cursor: not-allowed;

      &:hover {
        .nav-label {
          display: none;
        }
      }
    }

    &:hover {
      .nav-label {
        opacity: 1;
        z-index: 0;
      }
    }

    .nav-label {
      width: 100vw;
      height: 50px;

      position: absolute;
      top: 0;
      opacity: 0;
      z-index: -1;

      display: flex;
      align-items: center;
      justify-content: center;

      color: $white-light;
      text-transform: uppercase;
      background: $black-light;

      @media (min-width: 768px) {
        width: 180px;
        height: 90px;
      }
    }
  }
}

.ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;

  @media (min-width: 768px) {
    background-size: 50px;
  }

  &.disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  &.home {
    background-image: url("../media/icons/home.svg");
  }

  &.camera {
    background-image: url("../media/icons/camera.svg");
  }

  &.menu {
    background-image: url("../media/icons/menu.svg");
  }

  &.power {
    background-image: url("../media/icons/power-button.svg");
  }

  &.search {
    background-image: url("../media/icons/search.svg");
  }

  &.user {
    background-image: url("../media/icons/user.svg");
  }

  &.settings {
    background-image: url("../media/icons/settings.svg");
  }

  &.info {
    background-image: url("../media/icons/info.svg");
  }

  &.info-block {
    background-image: url("../media/icons/info-block.svg");
    background-size: 40px;
    width: 44px;
    height: 44px;
    margin: 5px 0;

    @media (min-width: 768px) {
      background-size: 44px;
    }
  }

  &.fluke {
    background-image: url("../media/icons/dices.svg");
  }

  &.photo {
    background-image: url("../media/icons/photo-settings.svg");
  }

  &.best-loved {
    background-image: url("../media/icons/heart.svg");
  }

  &.delete {
    background-image: url("../media/icons/trash-can.svg");
  }

  &.download {
    background-image: url("../media/icons/download.svg");
  }

  &.unfav {
    background-image: url("../media/icons/unfav.svg");
    background-size: 40px;
    width: 44px;
    height: 44px;
    margin: 5px 0;

    @media (min-width: 768px) {
      background-size: 44px;
    }
  }

  &.fav {
    background-image: url("../media/icons/fav.svg");
    background-size: 40px;
    width: 44px;
    height: 44px;
    margin: 5px 0;

    @media (min-width: 768px) {
      background-size: 44px;
    }
  }

  &.toggle {
    background-image: url("../media/icons/squares.svg");
    background-size: 40px;
    width: 44px;
    height: 44px;
    margin: 15px auto 0 auto;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.fullpage {
  height: calc(100vh - 220px);
  perspective: 1000px;
  padding: 110px 0;

  @media (min-width: 768px) {
    height: 100vh;
    padding: 0;
  }

  p {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  form {
    input:first-of-type {
      margin-top: 20px;
    }

    button {
      margin-top: 10px;
    }
  }

  .auth {
    .back {
      display: none;
    }
  }

  .non-auth {
    border: 1px solid $black-light;
    background-color: $black-light;
    color: $white-light;
    cursor: pointer;
    animation: opacity-animation 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;

    &:hover {
      animation: none;
      background-color: $black-dark;
    }

    &.flipped {
      cursor: default;
      animation: none;

      &:hover {
        background-color: $white-light;
      }

      .front {
        opacity: 0;
        z-index: -1;
      }

      .back {
        z-index: 10;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      color: $black-light;
      line-height: 20px;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      a {
        color: $black-light;
        text-decoration: none;
        padding: 0 10px;
      }
    }
  }
}

.flip-wrapper {
  width: 100%;
  max-width: 290px;
  height: 290px;

  box-sizing: border-box;
  position: relative;

  transition: 0.6s;
  transform-style: preserve-3d;

  @media (min-width: 768px) {
    width: 400px;
    max-width: 400px;
    height: 400px;
  }

  .back-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    li {
      width: 40px;
      height: 40px;

      background-size: 40px;
      background-repeat: no-repeat;

      list-style-type: none;
      cursor: pointer;
      margin: 0;
    }
  }

  &.small {
    width: 200px;
    height: 200px;
  }

  &.register {
    height: 400px;
  }

  .front, .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .front {
    z-index: 2;
    transform: rotateX(0deg);
    border: 1px solid transparent;
  }

  .back {
    transform: rotateX(180deg);
    border: 1px solid $white-light;
  }

  &.flipped {
    transform: rotateX(180deg);

    border: 1px solid $white-light;
    background-color: $white-light;

    .front {
      opacity: 0;
      z-index: -1;
    }

    .back {
      z-index: 10;
    }
  }
}

.flip-box {
  position: absolute;
  z-index: -1;

  background-color: $white-light;
  border: 1px solid $white-light;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateX(-180deg);
  transition: 0.6s all ease-in-out;

  &.flipped {
    z-index: 50;
    transform: rotateX(0deg);
    transition: 0.6s all ease-in-out;
  }
}

.button {
  min-height: 42px;
  width: 100%;
  max-width: 250px;

  font: 400 15px 'Droid Sans', sans-serif;
  line-height: 20px;
  color: $white-light;
  text-transform: uppercase;

  background-color: $black-light;
  border: 1px solid $black-light;
  cursor: pointer;

  padding: 10px;
  margin: 20px auto;

  &:hover {
    background-color: $black-dark;
  }

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}

//region Input
input {
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;

  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: $black-dark;

  background-color: $white-light;
  background-position: calc(100% - 10px) center;
  background-size: 30px;
  background-repeat: no-repeat;
  border: 1px dotted $black-light;

  padding: 15px 45px 10px 10px;

  margin: 5px auto;

  &::placeholder {
    color: $black-light;
  }

  &:focus {
    border: 1px solid $black-dark;
  }
}

input[type=text] {
  background-image: url("../media/icons/text.svg");
}

input[type=email] {
  background-image: url("../media/icons/e-mail.svg");
}

input[type=password] {
  background-image: url("../media/icons/private.svg");
}

input[name=password_repeat] {
  background-image: url("../media/icons/check.svg");
}

//endregion

//region Box
.box-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  padding: 110px 0;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 100px 0;
  }
}

.box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  box-sizing: border-box;

  &.small {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;

    img {
      max-width: 200px;
      max-height: 200px;
    }
  }

  &:hover {
    .content {
      z-index: 1;
      opacity: 0.75;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;

    box-sizing: border-box;
    background-color: $black-light;
    border: 1px solid transparent;

    p {
      color: $white-light;
    }
  }

  &.flipped {
    animation: rotate 0.5s ease-in-out;
  }
}

//endregion

//region Cropper
.cropper-view-box {
  outline: $orange-light solid 1px;
}

.cropper-line, .cropper-point,
.cropper-point.point-se:before {
  background-color: $orange-light;
}

.cropper-point {
  width: 5px !important;
  height: 5px !important;
}

//endregion

//region Loader
$loader: 200px;
$uploader-xs: 275px;
$uploader: 400px;

.loader-wrapper {
  width: $uploader-xs;
  height: $uploader-xs;
  background-color: transparent;

  @media (min-width: 768px) {
    width: $loader*2;
    height: $loader*2;
  }
}

.loader {
  width: $uploader-xs/2;
  height: $uploader-xs/2;
  margin: $uploader-xs/4 auto;

  background-color: $black-light;

  animation: rotate-animation 1.5s infinite ease-in-out;

  @media (min-width: 768px) {
    width: $loader;
    height: $loader;
    margin: $loader/2 auto;
  }
}

//endregion

//region Upload
.upload-wrapper {
  width: $uploader-xs;
  height: $uploader-xs;
  position: relative;
  opacity: 1;

  @media (min-width: 768px) {
    width: $uploader;
    height: $uploader;
  }

  &.toggled {
    opacity: 0;

    @media (min-width: 768px) {
      opacity: 1;
    }
  }

  input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0;

    &:focus + .upload,
    & + .upload:hover {
      border: 1px solid $black-light;
    }
  }
}

.upload-button {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.upload-toggle-wrapper {
  width: $uploader-xs;
  height: $uploader-xs;

  top: 117px;
  left: 0;
  right: 0;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;

  &.toggled {
    opacity: 1;
  }

  @media (min-width: 768px) {
    width: $uploader;
    height: unset;
    position: static;
    z-index: 0;
    opacity: 1;
  }

  &.flip-box {
    @media (min-width: 768px) {
      transform: none;
      background-color: transparent;
      border-color: transparent;
    }
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    > div {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .unfav,
      .fav {
        margin-right: 20px;
      }
    }
  }

  .tag {
    max-width: 220px;

    @media (min-width: 768px) {
      max-width: 100%;
      margin-top: 0;
    }
  }

  .button {
    max-width: 220px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.upload-crop {
  width: $uploader-xs;
  height: $uploader-xs;

  @media (min-width: 768px) {
    width: $uploader;
    height: $uploader;
  }
}

.upload {
  width: $uploader-xs;
  height: $uploader-xs;

  @media (min-width: 768px) {
    width: $uploader;
    height: $uploader;
  }

  position: absolute;
  top: 0;
  left: 0;

  background-color: $white-light;
  background-image: url("../media/icons/photo.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: calc(50% + 70px) center;
  border: 1px dotted $black-light;

  cursor: pointer;
  box-sizing: border-box;

  &.has-item {
    z-index: -1;
  }

  &.complete {
    background-image: url("../media/icons/check-block.svg");
    background-position: calc(50% + 90px) center;
    border-color: transparent;
  }
}

//endregion

//region Preview
.preview-wrapper {
  p {
    margin: 10px 0
  }

  ul {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li {
      width: 44px;
      height: 44px;
      background-size: 44px;
      margin: 0 !important;
    }
  }
}

.preview-box {
  .preview-placeholder {
    width: 22vh;
    height: 22vh;
    background-color: $white-light;
    border: 1px dotted $black-light;
    box-sizing: border-box;

    @media (min-width: 768px) {
      width: 400px;
      height: 400px;
    }
  }

  img {
    width: 22vh;
    height: 22vh;

    @media (min-width: 768px) {
      width: 400px;
      height: 400px;
    }
  }
}

//endregion
